<div class="slide-container">
  <h1>{{ 'slide.bundleSize.title' | translate }}</h1>
  <div class="slide-content">
    <p class="subtitle">{{ 'slide.bundleSize.subtitle' | translate }}</p>
    <table class="bundle-table">
      <thead>
        <tr>
          <th>{{ 'slide.bundleSize.approach' | translate }}</th>
          <th>{{ 'slide.bundleSize.rawSize' | translate }}</th>
          <th>{{ 'slide.bundleSize.gzippedSize' | translate }}</th>
          <th>{{ 'slide.bundleSize.note' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ 'slide.shared.templateForms' | translate }}</td>
          <td>27.23 kB</td>
          <td>6.04 kB</td>
          <td>{{ 'slide.bundleSize.noteBaseline' | translate }}</td>
        </tr>
        <tr>
          <td>{{ 'slide.shared.reactiveForms' | translate }}</td>
          <td>27.43 kB</td>
          <td>6.15 kB</td>
          <td>{{ 'slide.bundleSize.noteSimilar' | translate }}</td>
        </tr>
        <tr class="highlight">
          <td>{{ 'slide.shared.signalForms' | translate }}</td>
          <td>58.03 kB <span class="diff">+113%</span></td>
          <td>14.39 kB <span class="diff">+138%</span></td>
          <td>{{ 'slide.bundleSize.noteSignal' | translate }}</td>
        </tr>
      </tbody>
    </table>
    <p class="footnote">{{ 'slide.bundleSize.footnote' | translate }}</p>
  </div>
</div>
