<div class="slide-container">
  <h1>{{ 'slide.featureMapping.title' | translate }}</h1>
  <div class="slide-content">
    <h2>{{ 'slide.featureMapping.subtitle' | translate }}</h2>
    <table class="feature-mapping-table">
      <thead>
        <tr>
          <th>{{ 'slide.featureMapping.feature' | translate }}</th>
          <th>{{ 'slide.featureMapping.templateForms' | translate }}</th>
          <th>{{ 'slide.featureMapping.reactiveForms' | translate }}</th>
          <th>{{ 'slide.featureMapping.signalForms' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ 'slide.featureMapping.dynamicFields' | translate }}</td>
          <td>{{ 'slide.featureMapping.templateWith' | translate }}</td>
          <td>{{ 'slide.featureMapping.reactiveWith' | translate }}</td>
          <td>{{ 'slide.featureMapping.signalWith' | translate }}</td>
        </tr>
        <tr>
          <td>{{ 'slide.featureMapping.syncValidation' | translate }}</td>
          <td>{{ 'slide.featureMapping.templateValidators' | translate }}</td>
          <td>{{ 'slide.featureMapping.reactiveValidators' | translate }}</td>
          <td>{{ 'slide.featureMapping.signalValidators' | translate }}</td>
        </tr>
        <tr>
          <td>{{ 'slide.featureMapping.asyncValidation' | translate }}</td>
          <td>{{ 'slide.featureMapping.templateAsync' | translate }}</td>
          <td>{{ 'slide.featureMapping.reactiveAsync' | translate }}</td>
          <td>{{ 'slide.featureMapping.signalAsync' | translate }}</td>
        </tr>
        <tr>
          <td>{{ 'slide.featureMapping.dependentFields' | translate }}</td>
          <td>{{ 'slide.featureMapping.templateDependent' | translate }}</td>
          <td>{{ 'slide.featureMapping.reactiveDependent' | translate }}</td>
          <td>{{ 'slide.featureMapping.signalDependent' | translate }}</td>
        </tr>
        <tr>
          <td>{{ 'slide.featureMapping.crossFieldValidation' | translate }}</td>
          <td>{{ 'slide.featureMapping.templateCross' | translate }}</td>
          <td>{{ 'slide.featureMapping.reactiveCross' | translate }}</td>
          <td>{{ 'slide.featureMapping.signalCross' | translate }}</td>
        </tr>
        <tr>
          <td>{{ 'slide.featureMapping.sideEffects' | translate }}</td>
          <td>{{ 'slide.featureMapping.templateSide' | translate }}</td>
          <td>{{ 'slide.featureMapping.reactiveSide' | translate }}</td>
          <td>{{ 'slide.featureMapping.signalSide' | translate }}</td>
        </tr>
        <tr>
          <td>{{ 'slide.featureMapping.controlValueAccessor' | translate }}</td>
          <td>{{ 'slide.featureMapping.cvaAll' | translate }}</td>
          <td>{{ 'slide.featureMapping.cvaAll' | translate }}</td>
          <td>{{ 'slide.featureMapping.cvaSignal' | translate }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
