<div class="slide-container">
  <h1>{{ 'slide.signals.title' | translate }}</h1>
  <div class="slide-content">
    <p>{{ 'slide.signals.description' | translate }}</p>
    <ul>
      <li>{{ 'slide.signals.point1' | translate }}</li>
      <li>{{ 'slide.signals.point2' | translate }}</li>
      <li>{{ 'slide.signals.point3' | translate }}</li>
      <li>{{ 'slide.signals.point4' | translate }}</li>
      <li>{{ 'slide.signals.point5' | translate }}</li>
    </ul>
    <div>
      <div class="qr">
        <img src="/signals-assets/kurs.png" />
      </div>
      <div class="qr">
        <img src="/signals-assets/prezentacja.png" />
      </div>
    </div>
  </div>
</div>
