<div class="slide-container">
  <h1>Signals</h1>
  <div class="slide-content">
    <p>Nowy typ reaktywny w Angularze</p>
    <ul>
      <li>Opakowanie na dowolną wartość</li>
      <li>Zapewnia fine-grained reactivity</li>
      <li>W przyszłości zoneless</li>
      <li>set, computed, effect, linkedSignal, ...</li>
      <li>uzupełnienie rxjs + interop helpers</li>
    </ul>
    <div>
      <div class="qr">
        <img src="/signals-assets/kurs.png" />
      </div>
      <div class="qr">
        <img src="/signals-assets/prezentacja.png" />
      </div>
    </div>
  </div>
</div>
