<div class="slide-container">
  <h1>{{ 'slide.signalForms.title' | translate }}</h1>
  <div class="slide-content">
    <h2>{{ 'slide.signalForms.subtitle' | translate }}</h2>
    <ul>
      <li>{{ 'slide.signalForms.point1' | translate }}</li>
      <li>{{ 'slide.signalForms.point2' | translate }}</li>
      <li>{{ 'slide.signalForms.point3' | translate }}</li>
      <li>{{ 'slide.signalForms.point4' | translate }}</li>
      <li>{{ 'slide.signalForms.point5' | translate }}</li>
      <li>{{ 'slide.signalForms.point6' | translate }}</li>
    </ul>
  </div>
</div>
