<div class="slide-container">
  <h1>{{ 'slide.community.title' | translate }}</h1>
  <div class="slide-content">
    <table class="community-table">
      <thead>
        <tr>
          <th>{{ 'slide.community.metric' | translate }}</th>
          <th>{{ 'slide.performance.templateForms' | translate }}</th>
          <th>{{ 'slide.performance.reactiveForms' | translate }}</th>
          <th>{{ 'slide.performance.signalForms' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ 'slide.community.soQuestions' | translate }}</td>
          <td>80</td>
          <td>500+</td>
          <td>370</td>
        </tr>
        <tr>
          <td>{{ 'slide.community.soTag' | translate }}</td>
          <td><code>angular-template-form</code></td>
          <td><code>angular-reactive-forms</code></td>
          <td><code>angular-signals</code></td>
        </tr>
        <tr>
          <td>{{ 'slide.community.angularDocsStatus' | translate }}</td>
          <td>{{ 'slide.community.docsStable' | translate }}</td>
          <td>{{ 'slide.community.docsRecommended' | translate }}</td>
          <td>{{ 'slide.community.docsExperimental' | translate }}</td>
        </tr>
        <tr>
          <td>{{ 'slide.community.githubIssues' | translate }}</td>
          <td>16</td>
          <td>90</td>
          <td>59</td>
        </tr>
        <tr>
          <td>{{ 'slide.community.tutorials' | translate }}</td>
          <td>{{ 'slide.community.tutorialsMany' | translate }}</td>
          <td>{{ 'slide.community.tutorialsMany' | translate }}</td>
          <td>{{ 'slide.community.tutorialsFew' | translate }}</td>
        </tr>
        <tr>
          <td>{{ 'slide.community.recommendedFor' | translate }}</td>
          <td>{{ 'slide.community.recommendedTemplate' | translate }}</td>
          <td>{{ 'slide.community.recommendedReactive' | translate }}</td>
          <td>{{ 'slide.community.recommendedSignal' | translate }}</td>
        </tr>
      </tbody>
    </table>
    <p class="footnote">{{ 'slide.community.footnote' | translate: { date: dataDate } }}</p>
  </div>
</div>
