<div class="slide-container">
  <h1>{{ 'slide.reactiveForms.title' | translate }}</h1>
  <div class="slide-content">
    <h2>{{ 'slide.reactiveForms.subtitle' | translate }}</h2>
    <ul>
      <li>{{ 'slide.reactiveForms.point1' | translate }}</li>
      <li>{{ 'slide.reactiveForms.point2' | translate }}</li>
      <li>{{ 'slide.reactiveForms.point3' | translate }}</li>
      <li>{{ 'slide.reactiveForms.point4' | translate }}</li>
      <li>{{ 'slide.reactiveForms.point5' | translate }}</li>
      <li>{{ 'slide.reactiveForms.point6' | translate }}</li>
    </ul>
  </div>
</div>
