<div class="slide-container">
  <h1>{{ 'slide.thankYou.title' | translate }}</h1>
  <div class="slide-content">
    <p>{{ 'slide.thankYou.links' | translate }}</p>
    <div class="main-qrs">
      <div class="qr">
        <img src="/thank-you-assets/linkedin.png" alt="LinkedIn QR code" />
      </div>
      <div class="qr">
        <img src="/thank-you-assets/repo.png" alt="Repository QR code" />
      </div>
    </div>
  </div>

  <img class="corner-qr corner-qr--top-left" src="/thank-you-assets/yt1.png" alt="YouTube QR code 1" />
  <img class="corner-qr corner-qr--top-right" src="/thank-you-assets/yt2.png" alt="YouTube QR code 2" />
  <img class="corner-qr corner-qr--bottom-left" src="/thank-you-assets/yt3.png" alt="YouTube QR code 3" />
  <img class="corner-qr corner-qr--bottom-right" src="/thank-you-assets/yt4.png" alt="YouTube QR code 4" />
</div>
