<div class="slide-container">
  <h1>{{ 'slide.signalFormsApi.title' | translate }}</h1>

  <div class="top-section">
    <h2>{{ 'slide.signalFormsApi.subtitle' | translate }}</h2>
    <div class="api-snippets">
      <pre><code>{{ "f = form(signal({ firstName: '', lastName: '' }))" }}</code></pre>
      <pre><code>{{ formSnippet }}</code></pre>
      <pre><code>{{ "f = form(signal({ firstName: '', lastName: '' }), p => {\n  disabled(p.lastName, ({ valueOf }) => valueOf(p.firstName) === '');\n});" }}</code></pre>
      <pre><code>{{ errorSnippet }}</code></pre>
    </div>
  </div>

  <div class="comparison-section">
    <h3>{{ 'slide.signalFormsApi.comparisonTitle' | translate }}</h3>
    <div class="columns">
      <div class="column template-col">
        <h4>{{ 'slide.shared.templateForms' | translate }}</h4>
        <pre><code>{{ templateAsyncSnippet }}</code></pre>
      </div>
      <div class="column reactive-col">
        <h4>{{ 'slide.shared.reactiveForms' | translate }}</h4>
        <pre><code>{{ reactiveAsyncSnippet }}</code></pre>
      </div>
      <div class="column signal-col">
        <h4>{{ 'slide.shared.signalForms' | translate }}</h4>
        <pre><code>{{ signalAsyncSnippet }}</code></pre>
      </div>
    </div>
  </div>
</div>
