<div class="slide-container">
  <h1>{{ 'slide.signalFormsApi.title' | translate }}</h1>
  <div class="slide-content">
    <h2>{{ 'slide.signalFormsApi.subtitle' | translate }}</h2>
    <ul>
      <li><pre><code [innerHTML]="`f = form(signal({ firstName: '', lastName: '' }))`"></code></pre></li>
      <li><pre><code>{{ formSnippet }}</code></pre></li>
      <li><pre><code [innerHTML]="`f = form(signal({ firstName: '', lastName: '' }), p => {
  disabled(p.lastName, ({ valueOf }) => valueOf(p.firstName) === '');
});`"></code></pre></li>
      <li><pre><code>{{ errorSnippet }}</code></pre></li>
    </ul>
  </div>
</div>
