<div class="slide-container">
  <h1>{{ 'slide.performance.title' | translate }}</h1>
  <div class="slide-content">
    <h2>{{ 'slide.performance.subtitle' | translate }}</h2>
    <table class="feature-mapping-table">
      <thead>
        <tr>
          <th>{{ 'slide.performance.action' | translate }}</th>
          <th>{{ 'slide.shared.templateForms' | translate }}</th>
          <th>{{ 'slide.shared.reactiveForms' | translate }}</th>
          <th>{{ 'slide.shared.signalForms' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ 'slide.performance.add1kFieldsJs' | translate }}</td>
          <td>{{ b.template.add1kJs }} ms</td>
          <td>{{ b.reactive.add1kJs }} ms</td>
          <td>{{ b.signal.add1kJs }} ms</td>
        </tr>
        <tr>
          <td>{{ 'slide.performance.update1kFieldsJs' | translate }}</td>
          <td>{{ b.template.update1kJs }} ms</td>
          <td>{{ b.reactive.update1kJs }} ms</td>
          <td>{{ b.signal.update1kJs }} ms</td>
        </tr>
        <tr>
          <td>{{ 'slide.performance.add1kFieldsInp' | translate }}</td>
          <td>{{ b.template.add1kInp }} ms</td>
          <td>{{ b.reactive.add1kInp }} ms</td>
          <td>{{ b.signal.add1kInp }} ms</td>
        </tr>
        <tr>
          <td>{{ 'slide.performance.update1kFieldsInp' | translate }}</td>
          <td>{{ b.template.update1kInp }} ms</td>
          <td>{{ b.reactive.update1kInp }} ms</td>
          <td>{{ b.signal.update1kInp }} ms</td>
        </tr>
        <tr>
          <td>{{ 'slide.performance.memoryHeapStart' | translate }}</td>
          <td>{{ b.template.memoryStart }} mb</td>
          <td>{{ b.reactive.memoryStart }} mb</td>
          <td>{{ b.signal.memoryStart }} mb</td>
        </tr>
        <tr>
          <td>{{ 'slide.performance.memoryHeapMax' | translate }}</td>
          <td>{{ b.template.memoryPeak }} mb</td>
          <td>{{ b.reactive.memoryPeak }} mb</td>
          <td>{{ b.signal.memoryPeak }} mb</td>
        </tr>
        <tr>
          <td>{{ 'slide.performance.memoryHeapEnd' | translate }}</td>
          <td>{{ b.template.memoryEnd }} mb</td>
          <td>{{ b.reactive.memoryEnd }} mb</td>
          <td>{{ b.signal.memoryEnd }} mb</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
