<div class="slide-container">
  <h1>Performęs</h1>
  <div class="slide-content">
    <h2>Add / update / remove 1k addresses</h2>
    <table class="feature-mapping-table">
      <thead>
        <tr>
          <th>akcja</th>
          <th>Template Forms</th>
          <th>Reactive Forms</th>
          <th>Signal Forms</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>dodaj 1k pól [js]</td>
          <td>8,8 ms</td>
          <td>162,22 ms</td>
          <td>3,44 ms</td>
        </tr>
        <tr>
          <td>update 1k pól [js]</td>
          <td>2,24 ms</td>
          <td>155,44 ms</td>
          <td>3,88 ms</td>
        </tr>
        <tr>
          <td>dodaj 1k pól [INP]</td>
          <td>5254 ms</td>
          <td>1321 ms</td>
          <td>1750 ms</td>
        </tr>
        <tr>
          <td>update 1k pól [INP]</td>
          <td>4093 ms</td>
          <td>248 ms</td>
          <td>2659 ms</td>
        </tr>
        <tr>
          <td>memory heap start</td>
          <td>23 mb</td>
          <td>24 mb</td>
          <td>25 mb</td>
        </tr>
        <tr>
          <td>memory heap max</td>
          <td>151 mb</td>
          <td>154 mb</td>
          <td>134 mb</td>
        </tr>
        <tr>
          <td>memory heap end</td>
          <td>28 mb</td>
          <td>29 mb</td>
          <td>73 mb</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
