<div class="slide-container">
  <h1>{{ 'slide.cva.title' | translate }}</h1>
  <div class="slide-content">
    <h2>{{ 'slide.cva.subtitle' | translate }}</h2>
    <ul>
      <li>{{ 'slide.cva.point1' | translate }}</li>
      <li>{{ 'slide.cva.point2' | translate }}</li>
      <li>{{ 'slide.cva.point3' | translate }}</li>
      <li>{{ 'slide.cva.point4' | translate }}</li>
      <li>{{ 'slide.cva.point5' | translate }}</li>
      <li>{{ 'slide.cva.point6' | translate }}</li>
      <li><pre><code [innerHTML]="`implements FormValueControl<number> --> value = model<number>(0)`"></code></pre></li>
    </ul>
  </div>
</div>
