<div class="slide-container">
  <h1>{{ 'slide.templateForms.title' | translate }}</h1>
  <div class="slide-content">
    <h2>{{ 'slide.templateForms.subtitle' | translate }}</h2>
    <ul>
      <li>{{ 'slide.templateForms.point1' | translate }}</li>
      <li>{{ 'slide.templateForms.point2' | translate }}</li>
      <li>{{ 'slide.templateForms.point3' | translate }}</li>
      <li>{{ 'slide.templateForms.point4' | translate }}</li>
      <li>{{ 'slide.templateForms.point5' | translate }}</li>
      <li>{{ 'slide.templateForms.point6' | translate }}</li>
    </ul>
  </div>
</div>
