<div class="main-container">
  <h1>{{ t()('main.title') }}</h1>
  <p>{{ t()('main.selectForm') }}</p>
  
  <div class="forms-section">
    <h3>{{ t()('main.whichForm') }}</h3>
    <div class="forms-grid">
      <a routerLink="/template" class="nav-button template">
        <h2>{{ t()('main.template.title') }}</h2>
        <p>{{ t()('main.template.description') }}</p>
      </a>
      
      <a routerLink="/reactive" class="nav-button reactive">
        <h2>{{ t()('main.reactive.title') }}</h2>
        <p>{{ t()('main.reactive.description') }}</p>
      </a>
      
      <a routerLink="/signal" class="nav-button signal">
        <h2>{{ t()('main.signal.title') }}</h2>
        <p>{{ t()('main.signal.description') }}</p>
      </a>
    </div>
  </div>

  <div class="presentation-section">
    <a routerLink="/slideshow" class="nav-button presentation">
      <h2>{{ t()('main.presentation.title') }}</h2>
      <p>{{ t()('main.presentation.description') }}</p>
    </a>
  </div>
</div>
