<div class="slide-container">
  <h1>{{ t()('slide.useCase.title') }}</h1>
  <div class="slide-content">
    <h2>{{ t()('slide.useCase.what') }}</h2>
    <p>{{ t()('slide.useCase.userRegistration') }}</p>
    <ul>
      <li>{{ t()('slide.useCase.dynamicAddresses') }}</li>
      <li>{{ t()('slide.useCase.syncValidation') }}</li>
      <li>{{ t()('slide.useCase.asyncValidation') }}</li>
      <li>{{ t()('slide.useCase.fieldDependencies') }}</li>
      <li>{{ t()('slide.useCase.passwordStrength') }}</li>
      <li>{{ t()('slide.useCase.errorMessages') }}</li>
    </ul>
  </div>
</div>
