<div class="slide-container">
  <h1>{{ 'slide.useCase.title' | translate }}</h1>
  <div class="slide-content">
    <h2>{{ 'slide.useCase.what' | translate }}</h2>
    <p>{{ 'slide.useCase.userRegistration' | translate }}</p>
    <ul>
      <li>{{ 'slide.useCase.dynamicAddresses' | translate }}</li>
      <li>{{ 'slide.useCase.syncValidation' | translate }}</li>
      <li>{{ 'slide.useCase.asyncValidation' | translate }}</li>
      <li>{{ 'slide.useCase.fieldDependencies' | translate }}</li>
      <li>{{ 'slide.useCase.passwordStrength' | translate }}</li>
      <li>{{ 'slide.useCase.errorMessages' | translate }}</li>
    </ul>
  </div>
</div>
